body {
    background-color: rgb(33, 37, 41);
    margin: 10px 0px;
    box-sizing: border-box;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    overflow: hidden;
}

.header__title {
    position: relative;
    display: inline;
    font-size: 1.25rem;
    float: left;
    padding: 0 10px;
    
}

.header__title i {
    position: absolute;
    left: 250px;
}

.header__search {
    height: 100%;
    display: inline;
    float: right;
    padding: 10px;
    margin: 2px;
}

.search__input {
    border: 2px solid transparent;
    font-size: 1.2rem;
    border-radius: 4px 0 0 4px;
    padding: 0.375rem 0.75rem;
    outline: transparent;
    transition: border .15s;
}

.search__input:focus {
    border-color: rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0 4px 4px 0;
    float: right;    
}

#main {
    display: flex;
}

.main__nav {
    background-color: rgb(33, 37, 41);
    margin-bottom: 100px;
}

.nav__ul {
    position: relative;
    padding: 0 7rem 0 0;
    list-style: none;
}

.nav__ul--arrow {
    position: absolute;
    right: 1.2rem;
}

.nav__ul li {
    font-size: 1.2rem;
    color: rgb(70, 74, 78);
    padding: 0.75rem;
}

.nav__ul li a {
    display: inline;
    color: rgb(110, 116, 122);
}

.nav__ul a:hover {
    color: rgb(234, 239, 243);
}

.content {
    background-color: rgb(255 , 255, 255);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
}

.content h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: rgb(89, 95, 102);
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.main__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
    color: rgb(255, 255, 255);
}

.main__card {
    border: 2px solid transparent;
    border-radius: 0.25rem;
}

.card__top {
    display: flex;
    align-items: center;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 1.5rem;
    height: 2rem;
    font-size: 1.2rem;
    transition: color .3s;
}

.card__top:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card__bottom {
    border-radius: 0 0 0.25rem 0.25rem;
    position: relative;
    height: 0.5rem;
    padding: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: color .3s;
}

.card__bottom:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.card__bottom--arrow {
    position: absolute;
    right: 20px;
    font-weight: 900;
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
}

.main__card--green {
    background-color: rgb(40, 167, 69);
}

.main__card--red {
    background-color: rgb(220, 53, 69);
}